.fade-fast {
    animation-duration: 1s;
    animation-name: fadein;
}

.fade-slow {
    animation-duration: 3s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes chatAppear {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}